flows/Copado_Test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Copado_Test</fullName>
    <actionCalls>
        <description>Horrible test.</description>
        <name>Second_Step</name>
        <label>Second Step</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Third_Step</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <elementReference>Test_Date</elementReference>
                <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <elementReference>Test_Date</elementReference>
                <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Third_Step</name>
        <label>Third Step</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Third_Step_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Step</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <booleanValue>false</booleanValue>
                    <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </rightValue>
            </conditions>
            <label>Third Step Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Copado Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>First_Step</name>
        <label>First Step</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Second_Step</targetReference>
        </connector>
        <fields>
            <name>Test_Date</name>
            <dataType>Date</dataType>
            <fieldText>Test Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <isVisible xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <triggerOrder xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
</Flow>