flows/Update_Account_Last_Opportunity_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Update_Account_Last_Opportunity_Date</fullName>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_New_Last_Opportunity_Date</name>
        <label>Set New Last Opportunity Date</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Last_Opportunity_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <elementReference>$Record.CreatedDate</elementReference>
                <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Latest_Opportunity_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <elementReference>$Record.StageName</elementReference>
                <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Newer_Opportunity</name>
        <label>Is Newer Opportunity?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_New_Last_Opportunity_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <elementReference>Get_Related_Account.Last_Opportunity_Date__c</elementReference>
                    <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                    <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </rightValue>
            </conditions>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Account Last Opportunity Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Last Opportunity Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <stringValue>LightningFlowBuilder</stringValue>
            <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
            <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            <stringValue>LightningFlowBuilder</stringValue>
            <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Newer_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <elementReference>$Record.AccountId</elementReference>
                <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Opportunity_Date__c</queriedFields>
        <queriedFields>Latest_Opportunity_Stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Last_Opportunity_Date__c</field>
            <value>
                <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <elementReference>Get_Related_Account.Last_Opportunity_Date__c</elementReference>
                <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Opportunity_Stage__c</field>
            <value>
                <apexValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <booleanValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <elementReference>Get_Related_Account.Latest_Opportunity_Stage__c</elementReference>
                <formulaDataType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <formulaExpression xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <numberValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReference xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <setupReferenceType xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <sobjectValue xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                <transform xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
</Flow>